<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragments :: head('Reset Password', '/css/password-reset-forms.css')}">
</head>
<body>
<main class="page-wrapper">
  <nav th:replace="~{partials/fragments :: nav}"></nav>
  <div class="container">

    <div class="resetPassword-form-wrapper">
      <section class="inner-wrapper">

        <h1>Finish resetting your password.</h1>

        <form id="password-reset-form" th:method="POST" th:action="@{/change-password}">
          <div class="form-group">

            <p class="error" th:if="${success}" th:text="${success}">

            </p>

            <p class="error" th:if="${emailError}" th:text="${emailError}">

            </p>

            <label for="email">Email address</label>
            <input name="email" type="email" id="email" class="form-control" placeholder="Enter email" required="required">
            <p></p>

            <p class="error" th:if="${tempPasswordError}" th:text="${tempPasswordError}">

            </p>

            <label for="tempPassword">Temporary Password</label>
            <input name="tempPassword" type="password" id="tempPassword" class="form-control" placeholder="Enter temporary password" required="required">

            <label for="password">New Password</label>
            <input name="password" type="password" id="password" class="form-control" placeholder="Enter new password" required="required">

            <label for="confirm">Confirm New Password</label>
            <input name="confirm" type="password" id="confirm" class="form-control" placeholder="Enter temporary password" required="required">
            <p id="password-validation"></p>

          </div>
          <button id="submit-btn" type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
      </section>
    </div>
  </div>
</main>
<footer th:replace="~{partials/fragments :: footer} "></footer>
<th:block th:replace="~{partials/fragments :: scripts('/js/password-reset.js')}"></th:block>
</body>
</html>