<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragments :: head(Profile, '/css/profile.css')}">
	<title>Create Entry</title>
</head>
<body>
<nav th:replace="~{partials/fragments :: nav}"></nav>
<h1>Create A Journal Entry</h1>
<form th:action="@{/create-entries}" th:method="post" th:object="${entry}">
	
	<p>Choose a trip to country you want to talk about: <strong><span id="country-value"></span></strong></p>
	
	<div class="dropdown">
		<a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			Dropdown link
		</a>
		<ul class="dropdown-menu">
			<th:block th:each="country : ${countries}">
				<li>
					<button class="dropdown-item country-entry" th:text="${country.getName()}" th:value="${country.getId()}" type="button"></button>
				</li>
			</th:block>
		</ul>
	</div>
	<input name="country-id" id="country-id" type="hidden" />
	<br />
	
	<label for="entry-title">Title:
		<input th:field="*{title}" id="entry-title" name="entry-title"/>
	</label>
	<br />
	
	<label for="entry-description">Description:
		<input th:field="*{description}" id="entry-description" name="entry-description"/>
	</label>
	
	<label for="start">When was the trip:
		<input type="date" id="start" name="entry-date" min="1990-01-01" max="2025-12-31" />
	</label>
	
	<br />
	<input type="submit" />
	
	
	<div id="image-container" class="country-images">
	</div>
</form>

<footer th:fragment="footer" class="d-flex flex-wrap justify-content-center align-items-center py-3 mt-5 fixed-bottom" style="background-color: #080063">

	<ul class="nav col-md-12 justify-content-center mt-1 p-3">
		<li class="meet-us"><a th:href="@{/aboutUs}" >Meet The Team</a></li>
	</ul>
</footer>
<!--<footer th:replace="~{partials/fragments :: footer}"></footer>-->
<th:block th:replace="~{partials/fragments :: scripts('/js/main.js')}"></th:block>
<script src="/js/badges.js"></script>
<script src="/js/sharelink.js"></script>
<script src="/js/entries.js"></script>
</body>
</html>