<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{partials/fragments :: head(Profile, '/css/create-entry.css')}">
	<title>Edit Entry</title>
</head>
<body>
<div class="page-wrapper">

<nav th:replace="~{partials/fragments :: nav}"></nav>

	<!--TODO: css for delete btn-->
	
	<div class="container">

			<!-- hidden map id needed in entries.js-->
		<input type="hidden" id="map-id" th:value="${map.getId()}">

		<main>
			<div>
				<form th:action="@{/delete-entries}" th:method="post" id="delete-entry-form" class="delete-btn-hide">
					<input type="hidden" name="entry-id" id="entry-id">
					<button type="submit" id="delete-entry-btn">Delete Entry</button>
				</form>
			</div>
			<h1>Edit your Journal Entry</h1>
			
			<form id="edit-form" th:action="@{/edit-entries}" th:method="post" th:object="${entries}">
				
				<p>Choose an entry you want to edit: <strong><span id="entry-value"></span></strong></p>
				
				<div class="dropdown">
					<a class="btn btn-body dropdown-toggle border border-1 border-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Dropdown link
					</a>
					<ul class="dropdown-menu">
						<th:block th:each="entry : ${entries}">
							<li>
								<button class="dropdown-item entry-select" th:text="${entry.getTitle()}" th:value="${entry.getId()}" type="button"></button>
							</li>
						</th:block>
					</ul>
				</div>
				
				<div id="input-container"></div>
			</form>
			
		</main>
		
	</div>
	
<footer th:replace="~{partials/fragments :: footer} "></footer>
</div>
<th:block th:replace="~{partials/fragments :: scripts('/js/edit-journal.js')}"></th:block>
<script src="/js/entries.js"></script>
<!--<script type="module" src="/js/edit-journal.js"></script>-->
</body>
</html>