<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <head th:replace="~{partials/fragments :: head(Profile, '/css/explore-profiles.css')}">
    <title>Profile</title>
  </head>
<body>
<nav th:replace="~{partials/fragments :: nav}"></nav>
<div class="page-wrapper">
<!--  insert search bar mapped to /search-->
  <form th:method="post" th:action="@{/search}">
    <label for="search">Search Profiles</label><input type="text" name="search" id="search">
    <button type="submit">Submit</button>
  </form>
  <div class="container users-container">


  <div class="user-wrapper" th:each="user : ${userList}">
    <img th:src="${user.getAvatar()}" class="avatar border-rounded-circle" alt="Avatar Pic">
      <p th:text="${user.username}"></p>
    <span># of countries visited: <span th:text="${user.countries.size()}"></span></span>
    <span>% of the world explored: <span th:text="${100 * user.countries.size() / 195} + '%'"></span></span>
      <a class="view-profile-button" th:href="@{/viewprofile/{id} (id = ${user.id})}">View Profile</a>
  </div>

  </div>
</div>
<footer th:replace="~{partials/fragments :: footer}"></footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</html>