<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <head th:replace="~{partials/fragments :: head('Explore Profiles', '/css/explore-profiles.css')}">

<body>
<nav th:replace="~{partials/fragments :: nav}"></nav>
<div class="page-wrapper">
<!--  insert search bar mapped to /search-->
<!--  <form th:method="post" th:action="@{/search}">-->
  <div class="row">
    <label for="search">Search Profiles</label><input type="text" name="search" id="search">
  </div>
<!--    <button type="submit">Submit</button>-->
<!--  </form>-->
  <div class="container-fluid users-container row">


<!--  <div class="user-wrapper" th:each="user : ${userList}">-->
<!--    <img th:src="${user.getAvatar()}" class="avatar border-rounded-circle" alt="Avatar Pic">-->
<!--      <p th:text="${user.username}"></p>-->
<!--    <span># of countries visited: <span th:text="${user.countries.size()}"></span></span>-->
<!--    <span>% of the world explored: <span th:text="${100 * user.countries.size() / 195} + '%'"></span></span>-->
<!--      <a class="view-profile-button" th:href="@{/viewprofile/{id} (id = ${user.id})}">View Profile</a>-->
<!--  </div>-->


  <!--    <button type="submit">Submit</button>-->
  <!--  </form>-->
<!--  <div class="container-fluid users-container">-->
<!--  <div class="row profile-container">-->
    <div class="search-container row">

      <div class="row user-wrapper" th:each="user : ${userList}">
        <div class="col">
          <img th:src="${user.avatar}" class="avatar border-rounded-circle" alt="Avatar Pic">
        </div>
        <div class="col">
          <h3 th:text="${user.username}" class="text"></h3>
          <span># of countries visited: <span th:text="${user.countries.size()}"></span></span>
          <span>% of the world explored: <span th:text="${100 * user.countries.size() / 195} + '%'"></span></span>
        </div>
        <div class="col profileLink">
          <a class="view-profile-button" th:href="@{/viewprofile/{id} (id = ${user.id})}">View Profile</a>
        </div>
      </div>
    </div>
    <!--  </div>-->
  </div>
</div>
<footer th:fragment="footer" class="d-flex flex-wrap justify-content-between align-items-center py-3 fixed-bottom" style="background-color: #080063">
  <ul class="nav col-md-12 justify-content-center">
    <li class="nav-item"><a th:href="@{/aboutUs}" class="nav-link px-2">Meet The Team</a></li>
  </ul>
</footer>


<th:block th:replace="~{partials/fragments :: scripts('/js/search.js')}"></th:block>
</body>
</html>