<!DOCTYPE html>
<html lang="en">
<head th:replace="~{partials/fragments :: head(Login, '/css/login.css')}">
  <style></style>

</head>
<body>
<main class="page-wrapper">
  <div class="container">

    <div th:if="${param.logout}">
      You have been logged out.
    </div>
    <div class="login-form-wrapper">
      <section class="right-side">
        <div class="login-header">
          <h1 class="text-center">Log In</h1>
          <p class="text-center">Welcome to Map Share!</p>
          <p class="text-center">Login to begin sharing your favorite places with friends.</p>
        </div>
        <form th:action="@{/login}" method="post" class="login-form">
          <div th:if="${param.error}">
            Invalid Username and Password.
          </div>
          <label for="username">Username</label>
          <input id="username" name="username" type="text"/>

          <label for="password">Password</label>
          <input id="password" name="password" type="password"/>

          <button class="login-button" type="submit">
            <img src="/assets/globe-icon.svg" alt="globe-icon">
            <span>login</span>
          </button>
        </form>
        <div class="login-footer">
          <p>Don't have an account? <a th:href="@{/sign-up}">Sign-up!</a></p>

        </div>
      </section>
    </div>

    <footer></footer>
  </div>
</main>
</body>
</html>