<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragments :: head('Login', '/css/login.css')}">
</head>
<body>
<main class="page-wrapper">
  <nav th:replace="~{partials/fragments :: nav}"></nav>
  <div class="container">

    <div th:if="${param.logout}">
      You have been logged out.
    </div>

    <div class="login-form-wrapper">
      <section class="inner-wrapper">

        <p>Enter your email address and we will send you a link to reset your password.</p>
        <form th:method="POST" th:action="@{/password-reset}">
          <div class="form-group">
            <p class="error" th:if="${emailError}" th:text="${emailError}"></p>
            <label for="email">Email address</label>
            <input name="email" type="email" id="email" class="form-control" placeholder="Enter email" required="required">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
        </form>
      </section>
    </div>
  </div>
</main>
<footer th:replace="~{partials/fragments :: footer} "></footer>
<th:block th:replace="~{partials/fragments :: scripts('/js/login.js')}"></th:block>
</body>
</html>