<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/fragments :: head(Profile, '/css/profile.css')}"></head>
<body>
<nav th:replace="~{partials/fragments :: nav}"></nav>
<main class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <aside class="col-3 d-flex flex-column p-5">
        <div class="user-info w-100">
          <h1>Welcome <span th:text="${#authentication.principal.username}"></span></h1>
          <img  src="/assets/default-profile.png" name="avatar" alt="avatar" class="avatar">
        </div>
        <div class="user-details w-100">
          <p class="d-flex flex-column">
            <span>First Name: <span th:text="${#authentication.principal.firstName}"></span></span>
            <span>Last Name: <span th:text="${#authentication.principal.lastName}"></span></span>
            <span>Username: <span th:text="${#authentication.principal.username}"></span></span>
            <span># of countries visited: <span th:text="${#authentication.principal.countries.size()}"></span></span>
            <span>% of the world explored: <span th:text="${#authentication.principal.countries.size() / 195 * 100}"></span></span>
          </p>
        </div>

        <h4>Achievements</h4>
        <div class="badges w-100">
          <div class="badge-wrapper">
            <img class="border rounded-circle" src="https://placehold.co/75X75" alt="badge"/>
          </div>
          <div class="badge-wrapper">
            <img class="border rounded-circle" src="https://placehold.co/75X75" alt="badge"/>
          </div>
          <div class="badge-wrapper">
            <img class="border rounded-circle" src="https://placehold.co/75X75" alt="badge"/>
          </div>
          <div class="badge-wrapper">
            <img class="border rounded-circle" src="https://placehold.co/75X75" alt="badge"/>
          </div>
          <div class="badge-wrapper">
            <img class="border rounded-circle" src="https://placehold.co/75X75" alt="badge"/>
          </div>
          <div class="badge-wrapper">
            <img class="border rounded-circle" src="https://placehold.co/75X75" alt="badge"/>
          </div>

        </div>
      </aside>
      <section class="col">
        <div class="main-profile-row row">
          <div>

            <div class="w-100" id="map">
            </div>

            <div class="update-search-wrapper w-100">
              <form class="geocode-search">
                <label for="search-input">Search:</label>
                <input id="search-input" type="text" placeholder="Search for a place">
                <button type="button" id="search-button">Search</button>
              </form>
              <div>
                <!--  FROM SAVES THE CHANGES MADE TO LAYERS ON THE MAP    -->
                <form id="save-changes-form" th:object="${map}" th:method="POST" th:action="@{/saveMap}">
                  <input id="mapId" th:hidden="true" th:field="*{id}"/>
                  <input id="updated-data" value="" th:hidden="true" th:field="*{data}">
                </form>
                <button type="button" id="save-changes">Save Changes</button>
              </div>
              <div>
                <button type="button" id="open-update-modal">Edit Map Style</button>
              </div>
              <form id="reset-map-form" th:action="@{/reset}" th:method="POST" th:object="${map}">
                <input th:hidden="true" th:field="*{id}"/>
                <button>Reset Map</button>
              </form>
            </div>
          </div>


<!--	        <form method="post" action="/view" id="view">-->
<!--		        <img th:src="${images.getImageUrl()}" alt="coutry image">-->
<!--		        <button id="view-image" type="submit">View Images</button>-->
<!--	        </form>-->
	        
          <div>
              <!--  FROM UPDATED MAP STYLE    -->
            <form id="update-map-form" th:object="${map}">
              <input id="map-id" th:hidden="true" th:field="*{id}"/>
              <input id="user-id" th:hidden="true" th:field="*{user}"/>
              <input  value="" th:hidden="true" th:field="*{data}">
              <input id="current-style" value="" th:hidden="true" th:field="*{style}">
              <input id="current-color"  value="" th:hidden="true" th:field="*{color}">
              <input id="current-projection" value="" th:hidden="true" th:field="*{projection}">
              <input id="current-zoom" value="$" th:hidden="true" th:field="*{zoom}">
            </form>
          </div>

        </div>


        <div class="country-images-wrapper w-100">
          <div class="country-images-header w-100">
            <h2>Images</h2>
          </div>
          <div class="country-images-body w-100">
            <div class="country-images w-100">
              <div class="country-image">
                <img src="https://placehold.co/200X200" alt="country image"/>
              </div>
              <div class="country-image">
                <img src="https://placehold.co/200X200" alt="country image"/>
              </div>
              <div class="country-image">
                <img src="https://placehold.co/200X200" alt="country image"/>
              </div>
              <div class="country-image">
                <img src="https://placehold.co/200X200" alt="country image"/>
              </div>
              <div class="country-image">
                <img src="https://placehold.co/200X200" alt="country image"/>
              </div>
              <div class="country-image">
                <img src="https://placehold.co/200X200" alt="country image"/>
              </div>
            </div>
          </div>
        </div>


        <!--  COMMENTS CONTAINER  -->
        <div class="comments-container">
          <div class="comments-header">
            <h2>Comments</h2>
          </div>
          <div class="comments-body">
            <div class="comment">
              <div class="comment-header">
                <h5>Username</h5>
                <p>date</p>
              </div>
              <div class="comment-body">
                <p>comment</p>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>

  </div>

  <!-- FileStack Upload Images -->
  <form id="img-form" th:action="@{/url-images}" th:method="POST" th:object="${image}">
    <input id="url-for-image" th:field="*{imageUrl}" value="" type="hidden"/>
    <input type="hidden" th:field="*{user}"/>
    <input type="hidden" th:field="*{country}"/>
    <input name="countryName" id="clicked-country" type="hidden" value=""/>
    <button id="upload-button" type="button" class="btn btn-primary">Upload Photos</button>
    <button id="confirm" type="submit" class="btn btn-primary">Save changes</button>
  </form>


</main>
<footer th:replace="~{partials/fragments :: footer}"></footer>
<th:block th:replace="~{partials/fragments :: scripts('/js/main.js')}"></th:block>
</body>
</html>