<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/fragments :: head(Profile, '/css/profile.css')}"></head>
<body>
<nav th:replace="~{partials/fragments :: nav}"></nav>
<main class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <aside class="col-3 d-flex flex-column p-5">
        <div class="user-info w-100">

          <h4>Welcome <span th:text="${#authentication.principal.username}"></span></h4>

          <!-- upload avatar click event -->
          <img th:src="${user.getAvatar()}" name="avatar" alt="avatar" class="avatar"/>

          <form id="upload-avatar-form" th:action="@{/profile-picture}" th:method="POST">
            <input id="avatarUrl" name="avatarUrl" type="hidden"/>
            <button id="upload-avatar-btn" type="button" class="btn btn-primary">Upload Avatar</button>
          </form>
          <!-- edit profile button -->
          <a th:href="@{/edit-profile}" class="btn btn-primary">Edit Profile</a>


        </div>
        <div class="user-details w-100">
          <p class="user-details-info d-flex flex-column">
            <span>First Name: <span th:text="${user.getFirstName()}"></span></span>
            <span>Last Name: <span th:text="${user.getLastName()}"></span></span>
            <span>Username: <span th:text="${user.getUsername()}"></span></span>
            <span># of countries visited: <span th:text="${user.getCountries().size()}"></span></span>
            <span>% of the world explored: <span
                th:text="${100 * user.getCountries().size() / 195} + '%'"></span></span>
          </p>
        </div>

        <h4>Achievements</h4>
        <div class="badges w-100">
          <!--          <div class="badge-wrapper" th:each="badge : ${#authentication.principal.badges}">-->
          <!--            <img class="rounded-circle badge-img" th:id="${'badge'+badge.id}" th:src="${badge.url}" alt="badge"/>-->
          <!--            <p th:hidden="true" class="badge-name" th:value="${badge.name}"></p>-->
          <!--            <p th:hidden="true" class="badge-description" th:value="${badge.description}"></p>-->
          <!--          </div>-->

        </div>
        <div>
          <button id="share" th:value="${user.id}">Share Link</button>
        </div>
      </aside>
      <section class="col">
        <div class="main-profile-row row">
          <div>
            <div class="w-100" id="map">
            </div>
            <div class="update-search-wrapper w-100">
              <form class="geocode-search">
                <label for="search-input">Search:</label>
                <input id="search-input" type="text" placeholder="Search for a place">
                <button type="button" id="search-button">Search</button>
              </form>

              <div>
                <button type="button" id="open-update-modal">Edit Map Style</button>
              </div>
              <form id="reset-map-form" th:action="@{/reset}" th:method="POST" th:object="${map}">
                <input th:hidden="true" th:field="*{id}"/>
                <button>Reset Map</button>
              </form>
              <button id="view-images-btn" type="button">View Images</button>
            </div>

          </div>


          <div>
            <!--  FORM FOR UPDATING/EDITING MAP STYLE    -->
            <form id="update-map-form" th:object="${map}">
              <input id="map-id" th:hidden="true" th:field="*{id}"/>
              <input id="user-id" th:hidden="true" th:field="*{user}"/>
              <input id="current-style" value="" th:hidden="true" th:field="*{style}">
              <input id="current-color" value="" th:hidden="true" th:field="*{color}">
              <input id="current-projection" value="" th:hidden="true" th:field="*{projection}">
              <input id="current-zoom" value="" th:hidden="true" th:field="*{zoom}">
            </form>
          </div>
        </div>


        <div id="country-images-wrapper" class="hide-country-images-wrapper">
          <div class="country-images-header w-100">
            <h2>Images</h2>

            <!--Use for possible navbar to pull up images based on user country-->
            <ul>
              <li style="list-style: none">
                <button id="all-images" type="button">All</button>
              </li>
              <li style="list-style: none">
                <form th:action="@{/country/${id}}" th:method="POST">
                  <th:block th:each="country : ${user.getCountries()}">
                    <button class="image-filter-btn" th:text="${country.getName()}"></button>
                  </th:block>
                </form>
              </li>
            </ul>

          </div>
          <div class="country-images-body w-100">
            <div class="country-images w-100">
              <!--loops through list of image object to input image url into image source tag-->
              <th:block th:each="image : ${user.getImages()}">
                <div class="country-image">
                  <!--			            <input th:value="${}" type="hidden" />-->
                  <img th:src="${image.getImageUrl()}" alt="country image">
                </div>
              </th:block>
            </div>
          </div>
        </div>

        <!--  COMMENTS CONTAINER  -->
        <div class="comments-container">
          <div class="comments-header">
            <h2>Comments</h2>
          </div>

          <div class="comments-body" th:each="item : ${commentList}">
            <div class="comment">
              <div class="comment-header">
                <h5>Username: <span th:text="${item.getUser().getUsername()}"></span></h5>
                <p>date: <span th:text="${item.getDate()}"></span></p>
              </div>
              <div class="comment-body">
                <p th:text="${item.comment}"></p>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
<!--    Modal-->
    <div class="modal" id="sharelinkmodal">
      <div class="modal-content">
        <p>Share your travel map with your friends</p>
        <span class="close">&times;</span>
        <input type="text" id="link">
        <div class="row">
        <div class="icons">
          <a href="https://www.facebook.com/"
             target="popup"
             onclick="window.open('https://www.facebook.com/','popup','width=600,height=600'); return false;">
            <img src="/assets/icons8-facebook.svg">
          </a>
        </div>
        <div class="icons">
          <a href="https://www.instagram.com/"
             target="popup"
             onclick="window.open('https://www.instagram.com/','popup','width=600,height=600'); return false;">
            <img src="/assets/icons8-instagram.svg">
          </a>
        </div>
        <div class="icons">
          <a href="https://twitter.com/"
             target="popup"
             onclick="window.open('https://twitter.com/','popup','width=600,height=600'); return false;">
            <img src="/assets/icons8-twitter.svg">
          </a>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FileStack Upload Images -->
  <form id="img-form" th:action="@{/url-images}" th:method="POST" th:object="${image}">
    <input id="url-for-image" name="imageUrls" value="" type="hidden"/>
    <input name="countryName" id="clicked-country" type="hidden" value=""/>
    <button id="upload-button" type="button" class="btn btn-primary">Upload Photos</button>
    <button id="confirm" type="submit" class="btn btn-primary">Save changes</button>
  </form>


</main>
<footer th:replace="~{partials/fragments :: footer}"></footer>

<th:block th:replace="~{partials/fragments :: scripts('/js/main.js')}"></th:block>
<script src="/js/badges.js"></script>
<script src="/js/sharelink.js"></script>
</body>
</html>