<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/fragments :: head(Profile, '/css/profile.css')}"></head>
<!-- TODO make mapboxgl-control-container class hidden -->
<body>
<nav th:replace="~{partials/fragments :: nav}"></nav>
<main class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <aside class="col-3 d-flex flex-column p-5">
        <div class="user-info w-100">
          <h4 th:text="${user.username}"></h4>
          <img th:src="${user.avatar}" name="avatar" alt="avatar" class="avatar"/>
        </div>
        <div class="user-details w-100">
          <p class="user-details-info d-flex flex-column">
            <span>First Name: <span th:text="${user.getFirstName()}"></span></span>
            <span>Last Name: <span th:text="${user.getLastName()}"></span></span>
            <span>Username: <span th:text="${user.getUsername()}"></span></span>
            <span># of countries visited: <span th:text="${user.getCountries().size()}"></span></span>
            <span>% of the world explored: <span
                th:text="${100 * user.getCountries().size() / 195} + '%'"></span></span>
          </p>
        </div>

        <h4>Achievements</h4>
        <div class="badges w-100">
          <!-- This div is dynamically populated with JavaScript -->
        </div>
      </aside>

      <section class="col">
        <div class="main-profile-row row">
          <div>
            <div class="w-100" id="map">
            </div>
            <div class="update-search-wrapper w-100">
              <button id="view-images-btn" type="button">View Images</button>
            </div>
          </div>
        </div>


	      <!--Images Container-->
	      <div id="country-images-wrapper" class="hide-country-images-wrapper">
		      <div class="country-images-header w-100">
			      <h2>Images</h2>

			      <!--Dynamic Dropdown Filter-->
			      <div class="dropdown">

				      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					      Filter Images By Country
				      </a>

				      <ul class="dropdown-menu">
					      <li>
						      <button id="all-images" th:value="${user.getId()}" name="view-all-images" type="button">All</button>
					      </li>
					      <li style="list-style: none">
						      <form>
							      <th:block th:each="country : ${user.getCountries()}">
								      <input type="hidden" name="hiddenCountryName" th:value="${country.getName()}"/>
								      <button class="image-filter-btn" th:text="${country.getName()}" th:value="${country.getId()}" type="button"></button>
							      </th:block>
						      </form>
					      </li>
				      </ul>

			      </div>
		      </div>

		      <!--Images Populated Dynamically-->
		      <div class="country-images-body w-100">
			      <div id="image-container" class="country-images w-100">
				      <th:block th:each="image : ${user.getImages()}">
					      <div class="country-image">
						      <img th:src="${image.getImageUrl()}" alt="country image">
					      </div>
				      </th:block>
			      </div>

			      <!--Dynamic Journal Entry Container-->
			      <article id="view-entries">
				      <h3>Journal</h3>
				      <th:block th:each="entry : ${user.getEntries()}">
					      <div>
						      <h5 th:text="${entry.getTitle()}"></h5>
						      <p>Date: <span th:text="${entry.getDate()}"></span></p>
						      <p><span th:text="${entry.getDescription()}"></span></p>
					      </div>
					      <br />
				      </th:block>
			      </article>

		      </div>
	      </div>

        <div th:if="${loggedIn}">
          <form th:action="@{/comment}" method="post">
            Comment:
            <textarea type="text" name="comment2" style="field-sizing: content"></textarea>
            <input type="hidden" name="user" th:value="${map.user.id}">
            <input type="hidden" name="mapid" th:value="${map.id}">
            <!--            TODO PUT path id into form-->
            <!--            <input th:type="hidden" th:field="*{user}">-->
            <br/>
            <input type="submit"/>
          </form>
        </div>
        <div class="comments-container">
          <div class="comments-header">
            <h2>Comments</h2>
          </div>

          <div class="comments-body" th:each="item : ${commentList}">
            <div class="comment">
              <div class="comment-header">
                <h5>Username: <a th:href="@{https://www.map-share.net/viewprofile/{id}(id=${item.getUser().getId()})}" th:text="${item.getUser().getUsername()}"></a></h5>
                                        <p>Date: <span th:text="${item.getDate()}"></span></p>
              </div>
              <div class="comment-body">
                <p th:text="${item.comment}"></p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>


    <form id="update-map-form" th:action="@{/update}" th:method="POST" th:object="${map}">
      <input id="map-id" th:hidden="true" th:field="*{id}"/>
      <input id="user-id" th:hidden="true" th:field="*{user}"/>
    </form>
  </div>
</main>
<footer th:replace="~{partials/fragments :: footer}"></footer>

<th:block th:replace="~{partials/fragments :: scripts('/js/viewprofile.js')}"></th:block>
<script type="module" th:src="@{/js/viewProfileMain.js}"></script>
<script src="/js/badges.js"></script>
</body>
</html>