h1.team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 10rem;
    color: navy;
    font-weight: bolder;
    margin-bottom: 2rem;
}
.A-Squad {
    height: 100vh;
    width: 100%;
    color: navy;
}

.team-container {
    font-family: sans-serif;
}
.team-card {
    max-width: 15rem;
    max-height: 30rem;
}

.team-cards {
    padding-top: 15rem;
    row-gap: 15px;
    justify-content: space-evenly;
}

.mission.row {
    height: 100vh;
}

.card-body {
    text-align: center;
}
.card-footer {
    justify-content: center;
    column-gap: 1rem;
    padding: 0.5rem;
}

.footer {
    z-index: 1;
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: 0;
}
/*Navbar Buttons*/
a.nav-link {
    color: #080063;
    border-radius: 6px;
    border: 1px solid #000;
    background: #FEFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: Mada, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button.btn-link {
    color: #080063;
    border-radius: 6px;
    border: 1px solid #000;
    background: #FEFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: Mada, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

li.meet-us {
    width: 350px;
    height: 69px;
    padding: 20px 15px;
    /*flex-shrink: 0;*/
    border-radius: 6px;
    background: #8DE189;
    color: #080063;
    text-align: center;
    font-family: Mada sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}