/*fragments navbar/footer design*/
a.nav-link {
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    background: white;
    color: #080063;
    text-align: center;
    font-family: Mada sans-serif;
    font-weight: 700;
}

a.nav-link:hover {
    background-color: #080063;
    color: whitesmoke;
    transition: 0.3s;
}

a.nav-link {
    font-size: 20px;
    padding: 10px;
}
/*------*/

body{
    color: #080063;
}

h1{
    color: #080063;
    margin: 10px;
    padding: 10px;
    text-shadow: 2px 2px 5px #080063;
    z-index: 2;
}
h2 {
    /*color: red;*/
    margin: 10px;
    padding: 10px;
    text-shadow: 2px 2px 5px #080063;
    font-size: 120px;
}

.container.hero h1 {
    font-size: 80px;
}

p {
    font-size: 24px;
    text-shadow: 1px 1px 2px #080063;
}

.container.hero p {
    font-family: 'Padauk', sans-serif;
    color: #080063;
    font-size: 30px;
}

button.btn-link {
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    background: white;
    color: #080063;
    text-align: center;
    font-family: Mada sans-serif;
    font-weight: 700;
    text-decoration: none;
}

@media screen and (max-width: 425px) {
    /* Adjust styles for specific elements or classes */
    /* For example, modify the font size */
    h1.map-share-title {
        font-size: 24px; /* Modify the font size for smaller screens */
    }

    /* Add more responsive styles as needed */
    /* Modify other elements' styles for better display on smaller screens */
}
