li.meet-us {
    width: 350px;
    height: 69px;
    padding: 20px 15px;
    /*flex-shrink: 0;*/
    border-radius: 6px;
    background: #8DE189;
    color: #080063;
    text-align: center;
    font-family: Mada sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}