@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&family=Lilita+One&display=swap');

video {
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index:0;
}

.video-wrapper {
    width: 100%;
    min-height: 100dvh;
    position:relative;
    overflow:hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    z-index: -1;
}

.hero {
    font-family: 'Lilita One', sans-serif;
    font-size: 200px;
    font-weight: 400;
    color: whitesmoke;
    text-shadow: 5px 5px 5px #080063;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.hero h1 {
    font-family: 'Lilita One', sans-serif;
    font-size: 175px;
    color: whitesmoke;
}

.hero p{
    font-family: inherit;
    font-size: 35px;
    color: whitesmoke;
    letter-spacing: 2px;
    text-shadow: 5px 5px 5px #080063;

}

.hero a {
    border: 1px solid #8DE189;
    border-radius: 6px;
    background: #8DE189;
    color: #080063;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 10px;
    margin: 20px;
    text-shadow: none;
}

.hero a:hover {
    background-color: #080063;
    color: whitesmoke;
    transition: 0.3s;
}

p {
    font-family: sans-serif;
    font-size: 24px;
}

.what-is-statement {
    background-color: #080063;
    color: whitesmoke;
    text-align: center;
}

.what-is-statement h2{
    font-weight: 400;
    font-size: 60px;
    font-family: 'Lilita One', sans-serif;
}

a.hero-buttons {
    border-radius: 6px;
    background: #8DE189;
    color: #080063;
    text-align: center;
    font-family: 'Lilita One', sans-serif;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    padding: 20px;
}

.tutorial-examples {
    font-family: 'Lilita One', sans-serif;
    color: #080063;
}

.carousel-caption {
    font-style: italic;
}

.description {
    font-size: 24px;
    padding: 0 20px;

    & p {
        padding: 10px;
    }
}

/*fragments navbar/footer design*/
a.nav-link {
    font-size: 18px;
    padding: 10px;
    border-radius: 6px;
    background: whitesmoke;
    color: #080063;
    text-align: center;
}

a.nav-link:hover {
    background-color: #080063;
    color: whitesmoke;
    transition: 0.3s;
}

button.btn-link.btn {
    font-size: 18px;
    padding: 10px;
    border-radius: 6px;
    background: whitesmoke;
    color: #080063;
    text-align: center;
    text-decoration: none;
    margin: 0;
}