@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&family=Lilita+One&display=swap');

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.video-wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black-overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.37);
    z-index: -1;
}

ul {
    list-style: none;
}

.container.hero {
    width: 800px;
    height: 100vh;
}

.container.hero h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 80px;
    font-weight: 400;
    position: relative;
    color: white;
    text-shadow: 5px 5px 5px white;
}

.container.hero h1{
    font-size: 200px;
    font-weight: 400;
    font-family: 'Lilita One', sans-serif;
}

h3 {
    font-size: 30px;
    color: whitesmoke;
}
p {
    font-size: 24px;
}

.container.hero p {
    font-family: 'Padauk', sans-serif;
    color: white;
    font-size: 22px;
}

.container {
    min-width: 1100px;
}

.what-is-statement {
    background-color: #080063;
    color: white;
    text-align: center;
}

.what-is-statement h2{
    font-weight: 400;
    font-size: 60px;
    font-family: 'Lilita One', sans-serif;
}

/*!*Map Collage*!*/
/*.various-maps {*/
/*    height: 360px;*/
/*    margin-top: 40px;*/
/*    !*border: 5px solid darkblue;*!*/
/*}*/


a.hero-buttons {
    width: 260px;
    height: 69px;
    border-radius: 6px;
    background: #8DE189;
    color: #080063;
    text-align: center;
    font-family: Mada sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px;
}

.map-share-title {
    margin-bottom: 150px;
}

.tutorial-examples {
    color: #080063;
}

.carousel-caption {
    font-weight: 900;
    font-style: italic;
}

.description {
    font-size: 24px;
}

/*fragments navbar/footer design*/
a.nav-link {
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    background: white;
    color: #080063;
    text-align: center;
    font-family: Mada sans-serif;
    font-weight: 700;
    height: 44px
}

a.nav-link:hover {
    background-color: #080063;
    color: whitesmoke;
    transition: 0.3s;
}

button.btn-link.btn {
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    background: white;
    color: #080063;
    text-align: center;
    font-family: Mada sans-serif;
    font-weight: 700;
    text-decoration: none;
    line-height: normal;
    margin: 0;
    display: block;
    height: 44px

}
/*---*/

@media screen and (max-width: 425px) {
    /* Adjust styles for specific elements or classes */
    /* For example, modify the font size */
    h1.map-share-title {
        font-size: 24px; /* Modify the font size for smaller screens */
    }

    /* Add more responsive styles as needed */
    /* Modify other elements' styles for better display on smaller screens */
}