:root {
    --white: white;
    --dark-blue: #0d0149ff;
    /*190AC7*/
    --button: #7075ffff;
    /* CSS HEX */
    --bright-blue: #0A73E1;
    --medium-slate-blue: #7075ffff;
    --federal-blue: #0d0149ff;
    --light-green: #8DE189ff;
    --kelly-green: #11AC06ff;
    --copper: #B5793Eff;

    --nav-btn-links: #080063;
}

.page-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.nav-img {
    width: auto;
    height: 150px;
}

/*center the logo in the nav bar*/
.nav-logo {
  justify-self: center;
    align-self: center;
}

/*Navbar Buttons and Links*/
a.nav-link, button.btn-link {
    color: var(--nav-btn-links);
    border-radius: 6px;
    border: 1px solid #000;
    background: #FEFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: Mada, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &:hover {
        background-color: var(--nav-btn-links);
        color: var(--white);
    }
}


/*Footer Button*/
li.meet-us {
    width: 350px;
    height: 69px;
    padding: 20px 15px;
    /*flex-shrink: 0;*/
    border-radius: 6px;
    background: #8DE189;
    color: #080063;
    text-align: center;
    font-family: Mada sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*STYLE FOR ALL MODALS - EVERY HTML PAGE I INHERITS FROM THIS CSS FILE*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;
    z-index: 999;

    & .modal-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        position: relative;
        max-width: 30dvw;
        padding: 30px;
        border-radius: 20px;
        color: black;
        background-color: white;
        transition: all ease 0.3s;

        @media (max-width: 768px) {
            max-width: 80vw;
        }

        .modal-header {
            display: flex;
            justify-content: center;

            .modal-close {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 30px;
                height: 30px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all ease 0.3s;

                &:hover {
                    background-color: grey;
                    color: black;
                }
            }
        }

        .modal-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            & .modal-buttons {
                display: flex;
                justify-content: center;
                gap: 10px;

                & button {
                    max-width: 200px;
                    background-color: var(--dark-blue);
                    color: var(--white);
                    border: none;

                    &:hover {
                        background-color: var(--white);
                        color: var(--dark-blue);
                        border: 1px solid var(--dark-blue);
                    }
                }
            }
        }
    }

}