:root {
    --white: white;
    --dark-blue: #0D0149;
    --button: #343CFF;
    /* CSS HEX */
    --medium-slate-blue: #7075ffff;
    --federal-blue: #0d0149ff;
    --light-green: #8DE189ff;
    --kelly-green: #11AC06ff;
    --copper: #B5793Eff;
}

.page-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}