
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mada', sans-serif;
    background-color: var(--dark-blue);
    color: var(--white);
}

/* TUTORIAL POPOVER STYLING  */
.driver-popover {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 400px;
}

.driver-popover-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-align: center;
}

.driver-popover-description {
    font-size: 1.2rem;
    margin-bottom: 0;
    text-align: center;
}


/*DEFAULT PROFILE BUTTONS*/
button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 5px 10px;
    color: var(--dark-blue);
    background: var(--white);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
        background: var(--dark-blue);
        color: var(--white);
        border: 1px solid var(--white);
    }
}

/*PROFILE PAGE CONTAINER*/
.main-row, .secondary-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 0;

    @media screen and (max-width: 780px) {
        flex-direction: column;
        gap: 0;
        height: auto;
    }

}

/*LEFT COLUMN CONTAINER WITH USER INFO*/
aside {
    background-color: var(--federal-blue);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 30px;
    min-width: 500px;
    flex-grow: 1;

    @media screen and (max-width: 780px) {
        height: auto;
        gap: 0;
        padding: 10px 0;
        min-width: 100%;
    }

    & .user-info {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;


        h4 {
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 0.5rem;
            text-align: center;
        }

        .avatar {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;

            @media screen and (max-width: 780px) {
                width: 150px;
                height: 150px;
            }
        }

    }

    & .user-details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        border-radius: 5px;


        & .user-details-info {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 1px;

            & span {
                font-size: 1.2rem;
                margin-bottom: 0;
                text-align: center;
            }

        }

    }

    & #share {
        text-align: center;
    }

}

/*BADGES CONTAINER*/
.badges {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 350px;

    .badge-wrapper {
        min-height: 100px;

        .badge-name {
            font-size: 1.2rem;
            margin-bottom: 0;
            text-align: center;
        }

        .badge-description {
            font-size: 1rem;
            margin-bottom: 0;
            text-align: center;
        }

        &:hover {
            cursor: pointer;
        }

        .badge-img {
            width: 75px;
            height: 75px;
            object-fit: cover;
        }
    }
}


/*RIGHT COLUMN CONTAINER HOLDING THE MAP*/
.map-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;

    @media screen and (max-width: 780px) {
        flex-direction: row;
        gap: 0;
        height: auto;
    }
}

.map-row {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;

    @media screen and (max-width: 780px) {
        flex-direction: column;
        gap: 0;
        height: auto;
    }


    .map-wrapper {
        display: flex;
        flex-direction: row;
        height: 70vh;
        width: 100%;
        border-radius: 5px;

        #map {
            width: 100%;
            height: 100%;
        }

    }


    .update-search-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        background-color: var(--federal-blue);

        @media (max-width: 768px) {
            flex-direction: column;
            height: auto;
        }


        & .geocode-search {
            display: flex;
            gap: 10px;
            color: white;
        }

        & .map-buttons-wrapper {
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: center;
            align-items: center;

        }

        & input {
            padding: 5px;
            border: none;
            border-bottom: 1px solid var(--white);
            font-family: inherit;
            font-size: 17px;
            font-weight: 500;
            color: var(--white);
            background: transparent;
            outline: none;
        }
    }

}

/*HIDES THE SHARE LINK MODAL UNTIL THE SHARE BUTTON IS CLICKED*/
#sharelinkmodal {
    display: none;
}

/*MAKES THE MOUSE CURSOR A POINTER WHEN HOVERING OVER THE SOCIAL MEDIA ICONS IN THE SHARE LINK MODAL*/
.icons a {
    cursor: pointer;
}


/*EITHER HIDES OR DISPLAYS THE COUNTRY IMAGES AND COMMENTS CONTAINER BASED ON THE BUTTON CLICKED*/
.hide-country-images-wrapper, .hide-comments-container {
    display: none;
}

/*COUNTRY IMAGES CONTAINER STYLING*/
.display-country-images-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    & .country-images-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .country-images-body {
        display: flex;
        gap: 10px;

        & .country-images {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            height: auto;
            padding: 10px;
            background: var(--white);

            & .country-image {
                flex-wrap: wrap;
                width: 250px;
                height: auto;
                object-fit: cover;
                border-radius: 5px;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
        }
    }
}


#edit-journal-modal {
    justify-content: center;
    align-items: center;
}


article h3 {
    text-align: center;
    text-decoration: underline;
}


/*Navbar Buttons*/
a.nav-link {

    & button.btn-link {

        color: #080063;
        border-radius: 6px;
        border: 1px solid #000;
        background: #FEFFFF;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        text-align: center;
        font-family: Mada, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }


    #edit-user-modal {
        justify-content: center;
        align-items: center;

        & .form-inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

        }

        & input {
            padding: 5px;
            border-radius: 5px;
            border-bottom: 1px solid var(--dark-blue);
            font-family: inherit;
            font-size: 17px;
            font-weight: 500;
            color: var(--dark-blue);
            background: transparent;
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    /*make drop down scrollable*/

    .dropdown-menu {
        max-height: 200px;
        overflow-y: auto;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: var(--button);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .image-filter-btn {
        background-color: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: inherit;
        font-weight: 500;
        font-size: 17px;
        padding: 5px 10px;
        color: var(--white);
        border: none;
        letter-spacing: 0.05em;
        cursor: pointer;
        border-radius: unset;
    }
}


/*fragments navbar/footer design - Jay*/
a.nav-link {
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    background: white;
    color: #080063;
    text-align: center;
    font-family: Mada sans-serif;
    font-weight: 700;

    .comment {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        border-radius: 5px;
        background: var(--white);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    }

    & a.nav-link:hover {
        background-color: #080063;
        color: whitesmoke;
        transition: 0.3s;
    }

    & button.btn-link {
        font-size: 19px;
        padding: 10px;
        border-radius: 6px;
        background: white;
        color: #080063;
        text-align: center;
        font-family: Mada sans-serif;
        font-weight: 700;
        text-decoration: none;
        line-height: normal;
        margin: 0;
        display: block;
    }
}


button.btn-link {
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    background: white;
    color: #080063;
    text-align: center;
    font-family: Mada sans-serif;
    font-weight: 700;
    text-decoration: none;
}


/*COMMENTS CONTAINER STYLING*/
.secondary-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: var(--dark-blue);
    color: var(--white);

    @media screen and (max-width: 780px) {
        flex-direction: column;
        gap: 0;
        height: auto;
    }
}


.display-comments-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;


    /*ADD COMMENT FORM*/

    .comment-form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        gap: 10px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid var(--white);

        #add-comments {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 10px;
            padding: 5px 50px;
            border-radius: 5px;
            background: var(--dark-blue);
            color: var(--light-green);

            textarea {
                padding: 5px;
                border-radius: 5px;
                font-family: inherit;
                font-size: 17px;
                font-weight: 500;
                width: 100%;
                color: var(--light-green);
                background: var(--dark-blue);
                outline: var(--light-green);
                border: 1px solid var(--light-green);

                &::placeholder {
                    color: var(--light-green);
                }
            }

            button {
                max-width: 200px;
            }
        }
    }

    .comments-body {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid var(--white);
        background-color: var(--dark-blue);
        height: auto;
        width: 75%;

        .comment {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;
            border-radius: 5px;
            background-color: var(--dark-blue);
            height: auto;
            width: 100%;

        }
    }
}




