
body {
    background-color: var(--bright-blue);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: var(--white);

    & section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}


.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50dvw;
    height: auto;
    padding: 50px;


    & label {
        width: 60%;
        font-family: inherit;
        font-weight: 500;
        font-size: 17px;
        color: var(--dark-blue);
        letter-spacing: 0.05em;

        & input {
            width: 100%;
            font-family: inherit;
            font-weight: 500;
            font-size: 17px;
            padding: 5px 10px;
            color: var(--dark-blue);
            background: var(--white);
            border: 1px solid #ccc;
            border-radius: 5px;
            transition: 500ms;
            -webkit-transition: 500ms;
            overflow: hidden;

        }

        & input:focus {
            outline: none;
            border: 1px solid var(--medium-slate-blue);
        }
    }

}



#register-button {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 5px 10px;
    color: var(--white);
    background: var(--dark-blue);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
    transition: 500ms;
    -webkit-transition: 500ms;
    overflow: hidden;
    align-self: center;


    & img {
        width: 50px;
        height: auto;
        margin-right: 3px;
        transform: rotate(0deg);
        transition: transform 0.5s;

    }

    & span {
        transition: transform 0.5s;
        overflow: hidden;
    }


    &:hover {
        background: var(--white);
        color: var(--dark-blue);
        border: 1px solid var(--dark-blue);

        & img {
            transform: translateX(20px);
            transition: transform 0.5s;
            scale: 1.5;

        }

        & span {
            transform: translateX(500px);
        }

    }
}

/*Navbar Buttons*/
a.nav-link {
    color: #080063;
    border-radius: 6px;
    border: 1px solid #000;
    background: #FEFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: Mada, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*Footer Button*/
li.meet-us {
    width: 350px;
    height: 69px;
    padding: 20px 15px;
    /*flex-shrink: 0;*/
    border-radius: 6px;
    background: #8DE189;
    color: #080063;
    text-align: center;
    font-family: Mada sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}








